<% if obj && obj.errors.any? %>
    <div class="alert alert-danger alert-dismissble fade show" role="alert">
        Following errors prevented the <%= obj.class.name.downcase %> from saving
        <ul>
            <% obj.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% end %>